<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Thecoachsmb\Mymodule\Api\Data\ItemInterface" type="Thecoachsmb\Mymodule\Model\Item"/>
    <preference for="Thecoachsmb\Mymodule\Api\ItemRepositoryInterface" type="Thecoachsmb\Mymodule\Model\ItemRepository"/>
</config>